[user]
	email = foamy125@gmail.com
	name = Error
[init]
	defaultBranch = main
[pull]
	rebase = false
[github]
	user = riatzukiza
[merge]
	tool = ediff
[mergetool "ediff"]
	cmd = emacs --eval \"(ediff-merge-files-with-ancestor \\\"$LOCAL\\\" \\\"$REMOTE\\\" \\\"$BASE\\\" nil \\\"$MERGED\\\")\"
	trustExitCode = true
